<footer class="text-center mt-5 bg-dark text-white pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Site de Sakinah gros tête</p>
            </div>
            <div class="col-md-4">
                <p>Site de Sakinah gros tête</p>
            </div>
            <div class="col-md-4">
                <p>Créé par <span class="heart">&#9829;</span> </p>
            </div>
            </div>
        </div>
</footer>