{% extends "themes/base_visitor.html.twig" %}

{% block main %}
<div class="container">
    <div class="row mx-auto">
            <h1 class="text-center my-3 display-5">Hello Sakinah gros tête</h1>
            <img class="text-center" src="{{ asset('images/img.png') }}" alt="">
        </div>
    </div>
{% endblock %}
